/* 공통 스타일 */

.food-title {
    font-weight: bold;
}

.Menu-group,
.categoryMenu-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 18px;
}

.container {
    width: 100%;
    max-width: 100vw;
}

.img-container {
    width: 100%;
    max-width: 1024px;
}

.interval {
    margin: 6em;
}

.RecommendationMen-list-style {
    display: grid;
    width: 100%;
    grid-template-columns: 49% 23.5% 23.5%;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-top: 80px;
}

.Menu-item-child-0 {
    grid-area: 1 / 1 / 3 / 2;
}

.Menu-item-child-1 {
    grid-area: 1 / 2 / 1 / 2;
}

.Menu-item-child-2 {
    grid-area: 1 / 3 / 1 / 3;
}

.Menu-item-child-3 {
    grid-area: 2 / 2 / 3 / 4;
}

.RecommendationMenu-item,
.RecommendationMenu-item-last {
    border: 1px solid rgba(147, 112, 98, 0.6);
    border-radius: 24px;
    position: relative;
    cursor: pointer;
}

.RecommendationMenu-item img,
.RecommendationMenu-item-last img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.categoryMenu-nav-style {
    width: 100%;
    max-width: 1050px;
    margin: 80px 0px 40px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-top: 1px solid rgb(147, 112, 98);
    border-left: 1px solid rgb(147, 112, 98);
    padding: 0;
}

.categoryMenu-nav-item {
    box-sizing: border-box;
    padding: 12px 8px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border-right: 1px solid rgb(147, 112, 98);
    border-bottom: 1px solid rgb(147, 112, 98);
    cursor: pointer;
    font-weight: normal;
    font-size: 22px;
    line-height: 19px;
    letter-spacing: -0.5px;
}

.selected-Cuisine {
    background: rgb(117, 87, 75);
}

.categoryMenu-list-style {
    display: grid;
    grid-template-columns: repeat(4, minmax(232px, 1fr));
    gap: 56px 20px;
    overflow-x: initial;
}
.categoryMenu-item {
    position: relative;
}

.categoryMenu-item img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    border: 1px solid rgba(147, 112, 98, 0.6);
    transition: opacity 0.3s;
}

.categoryMenu-item img:hover {
    opacity: 0.6;
}

.categoryMenu-title {
    padding-top: 1em;
    width: 100%;
    max-width: 320px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.search-detail{
    width: 100%;
    width: 480px;
    margin: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.search-detail input {
    display: inline-block;
    width: 100%;
    height: 48px;
    padding: 16px 48px 16px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(189, 189, 189);
    background: rgb(255, 255, 255);
    font-weight: normal;
    font-family: "Noto Sans KR", Helvetica, "Helvetica Neue", Arial, "sans-serif";
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.5px;
}
.search-icon{    
    position: relative;
    right: 40px;
    cursor: pointer;
    font-size: 25px;
}
.change-color {
    position: relative;
    width: auto; /* 부모 요소의 너비에 따라 크기를 조절합니다. */
    background: rgb(244, 240, 239);
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 0 1000px; /* 좌우 패딩을 추가하여 꽉 채웁니다. */
    margin-left: calc(-1000px);
    margin-right: calc(-1000px);
}

.search-area {
    position: relative;
    width: 100%;
}

/* 미디어 쿼리 */
@media only screen and (max-width: 430px) {
    .search-detail {
        width: 100%;
    }

    .change-color {
        padding: 10px 0; /* 상하 여백을 주세요. */
        padding: 0 1000px; /* 좌우 패딩을 추가하여 꽉 채웁니다. */
    }
    .search-detail {
        width: 100%;
        padding: 0 10px; /* 추가된 속성: 좌우 패딩 조정 */
        margin-left: 10px;
    }
}

@media (max-width: 1023px) {
    /* 모바일용 미디어 쿼리 */
    .Menu-group,
    .RecommendationMen-list-style,
    .categoryMenu-nav-style {
        padding-top: 40px;
    }

    .RecommendationMen-list-style {
        width: 500px;
        padding-top: 40px;
        margin: 0 auto; /* 화면 가운데 정렬을 위해 추가 */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 16px;
    }

    .RecommendationMen-list-style > div:nth-of-type(1),
    .RecommendationMen-list-style > div:nth-of-type(2),
    .RecommendationMen-list-style > div:nth-of-type(3),
    .RecommendationMen-list-style > div:nth-of-type(4) {
        grid-area: unset;
    }

    .RecommendationMen-list-style > div:nth-of-type(1) {
        grid-area: 1 / 1 / 2 / 3;
    }

    .RecommendationMen-list-style > div:nth-of-type(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .RecommendationMen-list-style > div:nth-of-type(3) {
        grid-area: 2 / 2 / 3 / 3;
    }

    .RecommendationMen-list-style > div:nth-of-type(4) {
        grid-area: 3 / 1 / 4 / 3;
    }

    .categoryMenu-nav-style {
        width: 100%;
        max-width: 1050px;
        margin: 0 auto; /* 화면 가운데 정렬을 위해 추가 */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-top: 1px solid rgb(147, 112, 98);
        border-left: 1px solid rgb(147, 112, 98);
        padding: 0;
    }
    
    .categoryMenu-list-style {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 아이폰 용 미디어 쿼리 */
@media only screen and (max-width: 430px) {
    .container {
        width: 100%;
        max-width: 430px;
    }
    .Menu-group,
    .categoryMenu-group {
        padding-top: 40px;
    }

    .interval {
        margin: 2em;
    }

    .RecommendationMen-list-style {
        width: calc(100% - 32px);
        padding-top: 40px;
        grid-template-columns: 1fr;
        gap: 16px;
        padding-left: 24px;
    }

    .RecommendationMen-list-style > div:nth-of-type(1),
    .RecommendationMen-list-style > div:nth-of-type(2),
    .RecommendationMen-list-style > div:nth-of-type(3),
    .RecommendationMen-list-style > div:nth-of-type(4) {
        grid-area: unset;
    }

    .RecommendationMen-list-style > div:nth-of-type(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .RecommendationMen-list-style > div:nth-of-type(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .RecommendationMen-list-style > div:nth-of-type(3) {
        grid-area: 3 / 1 / 4 / 2;
    }

    .RecommendationMen-list-style > div:nth-of-type(4) {
        grid-area: 4 / 1 / 5 / 2;
    }

    .categoryMenu-nav-style {
        width: 100%;
        max-width: 1050px;
        margin: 0 auto; /* 화면 가운데 정렬을 위해 추가 */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-top: 1px solid rgb(147, 112, 98);
        border-left: 1px solid rgb(147, 112, 98);
        padding: 0;
    }

    .categoryMenu-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .categoryMenu-list-style {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .categoryMenu-title {
        padding-top: 1em;
        width: 400px;
    }
}

